body {
    text-align: center;
    background-color: #088cb8;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

header {
    font-family: "Ubuntu", sans-serif; 
}
figure {
    font-family: "Sour Gummy", sans-serif;
}
main {
    font-family: "Sour Gummy", sans-serif;
}
section {
    width: 100%;
    align-content: center;
    position: relative;
    font-family: Verdana, sans-serif;
    
}
.seat-s {
    display: flex;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    max-width: 200px;
    margin: 20px auto;
    justify-content: center;
}
.seat {
    width: 40px;
    height: 40px;
    background-color: #121111;
    cursor: auto;
    border: 1px solid white;
    margin: 10px;
    border-radius: 5px;
}
.seat.selected {
    background-color: #0ac4e5;
}
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 55%;
}
th, td {
    border: 1px solid #070707;
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #11b141;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #06dc66;
}
