body {
    text-align: center;
    background-color: #7adeff;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 0;
    width: 100%;
    }

header {
    font-family: "Ubuntu", sans-serif; 
}
figure {
    font-family: "Sour Gummy", sans-serif;
}
main {
    font-family: "Sour Gummy", sans-serif;
}
section {
    width: 100%;
    align-content: center;
    position: relative;
    font-family: Verdana, sans-serif;
}
.seat-s {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 20px auto;
}
.seat {
    width: 40px;
    height: 40px;
    background-color: #121111;
    cursor: auto;
}
.seat.terpilih {
    background-color: #07daff;
}
table {
    border: 1px solid;
    border-collapse: collapse;
    position: flex;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
td {
 text-align: center;
}
th {
    text-align: center;
}
button {
    padding: 10px 20px;
    background-color: #11b141;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #06dc66;
}
